<section>
    <figure>
        <ng-container *ngIf="movie.poster; else default">
            <img src="{{host}}{{movie.poster}}">
        </ng-container>
        <ng-template #default>
            <img src="{{host}}api/images/movies/default.jpg">
        </ng-template>
    </figure>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nesciunt magni ratione corporis dicta sed odio unde, nisi fugiat illo deleniti ipsum harum quia itaque molestias? Obcaecati enim quae impedit quam eum, dolore fugit debitis consequuntur sit esse dicta reprehenderit repudiandae, fuga dolores magni.
    </p>
    <aside>
        <span><b>Title:</b> {{movie.title}}</span>
        <span><b>Director:</b>  {{movie.director}}</span>
        <span><b>Genre:</b>  {{movie.genre}}</span>
        <span><b>Duration:</b>  {{movie.duration}} min</span>
        <span><b>Release:</b>  {{movie.releasedate}}</span>
    </aside>
</section>