<article>
    <p class="sectionTitle">Ratings</p>
    <div class="ratings">
        <ng-container *ngIf="ratings && ratings.length > 0">
            <ng-container *ngFor="let elem of ratings">
                <app-user-rating [rating]="elem" >
                    <ng-container *ngIf="logged">
                        <i (click)="delete(elem)" class="material-icons">delete_forever</i>
                    </ng-container>
                </app-user-rating>
            </ng-container>
        </ng-container>
    </div>
</article>