<section>
    <p *ngIf="rating">
        Your rating:
        <ng-container *ngFor="let elem of stars; index as i">
            <!-- elem 0 or 1-->
            <ng-container *ngIf="elem; else dark">
                <i (click)="setRating(i+1)" class="material-icons starFocus">grade</i>
            </ng-container>
            <ng-template #dark>
                <i (click)="setRating(i+1)" class="material-icons starBlur">grade</i>
            </ng-template>  
        </ng-container>
        <!--button type="submit" (click)="sendRating()" [ngClass]="getButtonClass()"><i class="material-icons" >check_circle</i></button-->
    </p>
</section>