<section>
    <p *ngIf="rating">
        Your Rating :
        <ng-container *ngFor="let elem of stars; index as i">
            <ng-container *ngIf="elem; else dark">
                <i (click)="setRating(i+1)" class="material-icons starFocus">grade</i>
            </ng-container>
            <ng-template #dark>
                <i (click)="setRating(i+1)" class="material-icons starBlur">grade</i>
            </ng-template>  
        </ng-container>
        <input type="submit" (click)="sendRating()" [ngClass]="getButtonClass()" value="Save">
    </p>
</section>