@import '../../../../styles.scss';

form {
    padding: 1.5em;
    text-align: center;
}

input {
    display: block;
}

input:not(:first-child){
    margin-top: 1em;
}

input[type=text], input[type=password]{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-width: 0px 0px 2px 0px;
    border-color: $main;
    padding: 5px;
    outline: 0px;
    background-color: $form;
}

input[type=text]:focus, input[type=password]:focus{
    border-color: $focus;
}

input[type=submit]{
    margin: 15px auto 0px auto;
    padding: 0.75em;
    background-color: $orange;
    -webkit-appearance: none;
    border: 0px;
    border-radius: 5px;
}

input.ng-invalid.ng-touched {
    border-color: $red !important;
}

input.ng-valid.ng-touched {
    border-color: $green !important;
}

.registerError {
    color: $red;
    font-size: 12px;
    display: block;
    margin-top: 10px;
}