@import '../styles.scss';

.wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

app-header, app-search, app-footer, main{
    grid-column: 2/6;
}

main {
    min-height: calc(100vh - 230.8px);
    background-color: $mainBackground;
    padding: 16px;
}

@media (max-width: 1000px){
    .wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    
    app-header, app-search, app-footer, main{
        grid-column: 1/2;
    }

    main {
        min-height: calc(100vh - 221.2px);
    }

}