@import '../../../../styles.scss';

section {
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 262.8px);
}

.forms {
    color: $textDark;
    background-color: $form;
    -webkit-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.75);
    min-width: 400px;
}

.buttons {
    display: flex;
}

.btn {
    flex: 1;
    background-color: $text;
    padding: 1em;
    color: $textDark;
    text-align: center;
    display: block;
}

.btn:hover {
    opacity: 0.8;
}

.active {
    border-color: #da7735;
    background-color: #da7735;
}

@media(max-width: 768px){

    .forms {
        width: 90%;
    }

}