@import '../../../../styles.scss';

section {
    text-align: center;
    background-color: #242d30;
    padding: 1.5em;
}

input[type=text]{
    background-color: $text;
    font-size: 18px;
    padding: 4px 8px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

input[type=text]::placeholder{
    font-size: 14px;
}

input[type=text]:focus{
    border-color: $textHover;
}

.bar {
    position: relative;
}

i {
    position: absolute;
    line-height: 32px;
    font-size: 35px;
    margin-left: 5px;
    display: inline;
    vertical-align: top;
    color: $text;
}

i:hover{
    color: $textHover;
    cursor: pointer;
}

@media (max-width:1000px){
    input[type=text]{
        width: 250px;
        transform: translateX(-15px);
    }
}