<section>
    <a [routerLink]="['/movie', rating.movie.name]">
        <figure>
            <ng-container *ngIf="rating.movie.poster; else default">
                <img src="{{host}}{{rating.movie.poster}}">
            </ng-container>
            <ng-template #default>
                <img src="{{host}}api/images/movies/default.jpg">
            </ng-template>
            <figcaption>
                <p class="stars">{{ rating.stars }}<i class="material-icons">grade</i></p>
                <h6>{{ rating.date | date:'MMM d, y, H:mm' }}</h6>
                <h5><a [routerLink]="['/movie/', rating.movie.name]">{{ rating.movie.title }}</a></h5>
            </figcaption>
        </figure>
    </a>
</section>