@import '../../../../styles.scss';

section {
    max-width: 185px;;
    margin: 1em;
}

img {
    height: 265px;
    width: 185px;
    object-fit: cover;
}

h5, h6, .stars {
    padding: 0.25em 0.1em;
}

h6 {
    color: $textGray;
}

h5 {
    word-wrap: break-word;
}

a {
    color: $textDark;
}

figcaption {
    text-align: center;
    padding-bottom: 0.5em;
}

i {
    color: $focus;
    vertical-align: top;
    margin-left: 2px;
    line-height: 16px;
}

figure {
    transition: 0.5s;
}

figure:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}