@import '../../../../styles.scss';

header {
    background-color: $main;
    padding: 0.75em 2.5em;
    font-size: 2em;
    color: $text;
    display: flex;
    align-items: center;  
}

a {
    color: $text;
    font-size: 20px;
}

a:hover {
    color: $textGray;
} 

app-logo {
    font-family: 'Tomorrow', sans-serif;
    flex: 1;
    text-align: left;
}

section {
    font-size: 20px;
    flex: 1;
    text-align: center;
}

app-account {
    flex: 1;
    text-align: right;
}

app-burger {
    display: none;
}

@media (max-width: 1000px){

    header {
        padding: 0em;
        font-size: 2em; 
        display: block;
        //position: relative;
    }

    app-logo, section, app-account {  
        display: block;
        text-align: center;
        background-color: $main;
    }

    app-logo {
        padding: 0.75em 1em;
    }

    section, app-account {
        padding: 10px 1em;
        background-color: $theme;
        border-bottom: 1px solid $main;
    }

    app-burger {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
    }

    .hidden {
        display: none;
    }
    

}