@import '../../../../styles.scss';

.info {
    text-align: center;
    padding: 1em;
    animation: 4s;
    animation-name: info;
}

@keyframes info {
    from {color: $mainBackground;}
    to {color: $textDark;}
  }

.search {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

section {
    grid-column: 2/7;
}

@media (max-width:1000px){
    .search {
        grid-template-columns: repeat(1,1fr);
    }
    
    section {
        grid-column: 1/2;
    }
}