@import '../../../../styles.scss';

section {
    background-color: $theme;
    display: flex;
    padding: 1em;
    align-self: center;
    margin-bottom: 1em;
    position: relative;
}

figure {
    padding: 0em 2em;
}

p {
    color: $text;
    padding: 8px;
    font-size: 1.35em;
    text-align: left;
    align-self: center;
}

.avatar {
    height: 75px;
    width: 75px;
    margin-right: 1em;
}

.logout {
    cursor: pointer;
    position: absolute;
    right: 1em;
}

.account {
    font-size: 75px;
    color: $text;
    vertical-align: bottom;
}

.logout i {
    vertical-align: bottom;
}

.logout:hover {
    color: $textGray;
}

@media (max-width: 1000px){
 
    figure {
        padding: 0em 0.5em;
    }

    aside {
        margin: auto 0.5em;
    }

}