@import '../../../../styles.scss';

section {
    display: flex;
    padding: 1em;
}

figure {
    padding: 0em 2em;
}

p {
    background-color: $mainBackground;
    color: $textDark;
    padding: 8px;
    font-size: 1em;
    text-align: left;
}

.username {
    font-size: 1.25em;
}

.avatar {
    height: 150px;
    width: 150px;
    margin-right: 1em;
}

aside {
    margin: auto 2em;
    text-align: left;
}

.logout {
    text-decoration: underline;
    cursor: pointer;
    color: $main;
}

i {
    font-size: 150px;
    color: $lightTheme;
}