<article>
    <p class="sectionTitle">User Info</p>
    <section>
        <figure>
            <ng-container *ngIf="user.avatar; else default">
                <img class="avatar" src="{{host}}{{user.avatar}}">
            </ng-container>
            <ng-template #default>
                <i class="material-icons">account_circle</i>
            </ng-template>
        </figure>
        <aside>
            <p class="username"><b>{{ user.login }}</b></p>
            <p><b>Name:</b> {{ user.firstname }} {{ user.lastname }}</p>
            <p><b>Birthday:</b> {{ user.birth }} </p>
            <p class="logout" (click)="logout()" *ngIf="logged">Log Out</p>
        </aside>
    </section>
</article>
