@import '../../../../styles.scss';

section {
    display: flex;
    padding: 1em;
    align-self: center;
}

figure {
    padding: 0em 2em;
}

p {
    background-color: $mainBackground;
    color: $textDark;
    padding: 8px;
    font-size: 1em;
    text-align: left;
}

.username {
    font-size: 1.25em;
}

.avatar {
    height: 150px;
    width: 150px;
    margin-right: 1em;
}

aside {
    margin: auto 2em;
    text-align: left;
}

.logout {
    text-decoration: underline;
    cursor: pointer;
    color: $main;
}

i {
    font-size: 150px;
    color: $lightTheme;
    vertical-align: bottom;
}

@media (max-width: 1000px){
 
    i {
        font-size: 100px;
    }

    figure {
        padding: 0em 0.5em;
    }

    aside {
        margin: auto 0.5em;
    }

}