@import '../../../../styles.scss';

form {
    padding: 1.5em;
    text-align: center;
}

input {
    display: block;
    margin-bottom: 1em;
}

input[type=text], input[type=password]{
    width: 100%;
    border-width: 0px 0px 2px 0px;
    border-color: $main;
    padding: 5px;
    outline: 0px;
    background-color: $form;
}

input[type=text]:focus, input[type=password]:focus{
    border-color: $focus;
}

input[type=submit]{
    margin: 10px auto 0px auto;
    padding: 0.75em;
    background-color: $orange;
    -webkit-appearance: none;
    border: 0px;
    border-radius: 5px;
}

input[type=submit]:hover{
    background-color: #c0723e;
}

.warning {
    padding: 1em;
    font-size: 14px;
    color: #a11414;
}