@import '../../../../styles.scss';

i {
    padding-right: 0.5em;
    align-self: center;
    font-size: 40px;
    color: $red;
    cursor: pointer;
}

i:hover {
    animation: shake 0.5s;
}
  
@keyframes shake {
    10% {
      transform: translate(1px, 0);
    }
    
    30% {
        transform: translate(3px, 0);
    }

    70% {
        transform: translate(-3px, 0);
    }
      
    90% {
        transform: translate(-1px, 0);
    }
}