<section>
    <ng-container *ngIf="place; else empty">
        <p>#{{ place }}</p>
    </ng-container>
    <ng-template #empty>
        <div style="padding-left: 1em;"></div>
    </ng-template>
    <figure>
        <a [routerLink]="['/movie/', movie.name]">
            <ng-container *ngIf="movie.poster; else default">
                <img src="{{host}}{{movie.poster}}">
            </ng-container>
            <ng-template #default>
                <div class="poster-box">
                    <i class="material-icons">theaters</i>
                </div>
            </ng-template>
        </a>
    </figure>
    <div class="movie">
        <h3><a [routerLink]="['/movie/', movie.name]">{{ movie.title }} ({{ movie.releasedate | date:'yyyy' }})</a></h3>
        <h5><b>Director: </b>{{ movie.director}}</h5>
        <h5><b>Genre: </b>{{ movie.genre}}</h5>
    </div>
    <aside>
        <span><i class="material-icons">grade</i>{{movie.rating}}</span>
    </aside>
</section>